.eventList{
	/*margin-top:20px;*/
}
.eventList li{
	float: left;
	width: 25%;
}
.eventOne{
	padding: 15%;
	text-align: center;
	font-size: 12px;
}
.eventOne img{
	margin-bottom: 5px;
	width: 100%;
	border-radius: 50%;
}
.history{
	width: 90%;
	position: relative;
	margin: 10px auto;
	height : 206px;
	border-radius: 10px;
	background: linear-gradient(to bottom, #e54444 0%,#820202 100%);
	overflow: hidden;
	color: #EE8262;
	text-align: center;
	font-size: 12px;
}
.timeM{
	position: absolute;
	left: 0;
	top: 0;
	width: 8%;
	height: 100%;
}
.timeM span{
	display: block;
	height: 15%;
	line-height: 400%;
}
.timeH{
	margin-left: 8%;
	margin-right: 2%;
	width: 90%;
	height: 100%;
}
.timeH > div{
	height: 100%;
	width: 100%;
}
.historyMain{
	height: 90%;
	width: 100%;
	position: relative;
}
.historyHours{
	height: 10%;
	width: 100%;
}
.historyHours span{
	display: block;
	float: left;
	width: 8.3333%;
	height: 100%;
	border-top: 1px solid #e54444;
	line-height: 150%;
}
.iconHistory{
	display: block;
	width :22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 155px;
}
.iconHistory img{
	width: 100%;
	border-radius: 50%;
}
/*.tag{
	position: absolute;
	bottom: 2px;
	font-size: 10px;
	word-spacing: -5em;
}
.tag span:nth-child(1){
	vertical-align: super;
}
.tag span:nth-child(2){
	vertical-align: sub;
}*/










