body,header,div,ul,li,p,h1{
	margin: 0;
	padding: 0;
}
h1{
	font-size: 100%;
}
ul,li{
	list-style: none;
}
.clearfloat:before,.clearfloat:after{
	content:"";
	display:table;
	height:0;
	font-size:0;
	line-height:0;
	visibility:hidden;
}
.clearfloat:after{
	clear: both;
}
.header{
	color: #fff;
	width: 100%;
	background-color: #8c0202;
	position: relative;
}
.status{
	height: 20px;
}
.title{
	text-align: center;
	height:44px;
	line-height: 44px;
	font-size: 18px;
}
.detailData{
	text-align: center;
	height: 44px;
	line-height: 44px;
	position: absolute;
	top:20px;
	right: 3%;
	font-size: 12px;
}
.eventList{
	/*margin-top:20px;*/
}
.eventList li{
	float: left;
	width: 25%;
}
.eventOne{
	padding: 15%;
	text-align: center;
	font-size: 12px;
}
.eventOne img{
	margin-bottom: 5px;
	width: 100%;
	border-radius: 50%;
}













