<header class="header" ng-include src="'tpl/header.html'" ng-controller="headerCtrl" no-touch-move>
</header>
<section class="main" id="wrapper" ng-iscroll>
	<div class="logCon">
		<p class="logP">
			<input class="logInput" ng-model="userName" type="text" placeholder="请输入用户名">	
		</p>
		<p class="logP">
			<input class="logInput" ng-model="email" type="text" placeholder="请输入邮箱地址">	
		</p>
		<p class="logP">
			<input class="logInput" ng-model="password" type="password" placeholder="请输入密码">	
		</p>
		<p class="logP">
			<input class="logInput" ng-model="respassword" type="password" placeholder="请重复密码">	
		</p>
		<p class="logP">
			<button class="logButton" ng-tap="submitRegister()">注 册</button>	
		</p>
		<p class="logP">
			<a class="logA" ng-href="javascript:void(0);" ng-tap="goLogin()">已有账号？请登录</a>
		</p>
	</div>
</section>